body {

    text-align: center;
    /*background-image: url("/content/blackboard-slate.jpg");*/
    background-repeat: no-repeat;
    
}

#myTitleContainer {
    background-image: url("/content/TitleFlashCard.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-wrap:normal;

    position:relative;
    
    width:600px;
    height:400px;
    /*padding:130px 90px 60px 0px;*/
    margin: 0px;
    

    left:33vw;
}

#myTitle {
    position:relative;
    top: 200px;
    left: 145px;

    width: 330px;

}

#author {
    position:relative;
    left: 150px;
    top: 200px;
}

.questionCard {
    /*background-image: url("content/questionFlashCard.jpg");*/
    /*background-repeat: no-repeat;*/

    /*padding: 200px;*/

}



.btnMainMenu {
    margin:1vh 0px;
    padding:10px 10px;
}

#rblAnswers, #myDeck{
    text-align: center;
    width:100%;
}